* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #6c757d;
  min-height: 100vh;
}

html {
  height: 100vh;
}

.project {
  border: solid black 1px;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.project > img {
  height: 65%;
  width: 100%;
  object-fit: contain;
}

#projectCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutMe {
  height: 100%;
}

.footerImg {
  width: 50px;
  height: 50px;
}

.footerLink {
  padding: 10px;
}
